.redIcon  {
	color:#d9534f;
}

.iconBtn {
	padding:0;
	border: none;
	color: transparent;
	background: transparent;
}

.invisibleTable {
	border:none;
	width:100%;
}

.fit {
	width:1%;
	white-space: nowrap;
}

.alignLeft {
	text-align:left;
}

.alignRight {
	text-align:right;
	padding-left:10px;
}

.popover{
	max-width:50% !important;
}


h1, h2, h3, h4, h5, h6, p, div {
    font-family: 'Cinzel', Georgia, Times, serif;
}

body { 
    background: url(/img/sayagata_bg.png) repeat 0 0;
}

/*.ng-table-pager {
    display: none;
}*/